
.cateContainer {
  width: 90%;
}
.cateName {
  padding: 0.5rem 3rem;
  margin-right: 0.1rem;
  /* background-color: aquamarine; */
  border-bottom: none;

}
.cateName:hover {
  background-color: lightblue;
}
.ButtonsContainer {
  display: flex;
}
.FormulaButtonsContainer {
  padding: 0.5rem 1rem;
  width: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열로 배치 */
  /* grid-template-rows: repeat(3, auto); 3행으로 배치 */
  gap: 10px; /* 버튼 간격 설정 */
}
.FormulaButtonsContainer-OneCol {
  padding: 0.5rem 1rem;
  width: 100px;
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 2열로 배치 */
  /* grid-template-rows: repeat(3, auto); 3행으로 배치 */
  gap: 10px; /* 버튼 간격 설정 */
}
#FormulaButton {
  padding: 0.5rem 0.5rem;
  margin-right: 1rem;
  color: #111111;
  /* background-color: aquamarine; */
  border-radius: 1rem;
  border: none;
}
#FormulaButton:hover {
  background-color: lightblue;
}
.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.convertedButton {
  padding: 50px;
  margin-left: 0.5rem;
  /* background-color: aquamarine; */
  border-radius: 1rem;
  border: none;
}
#latexInput {
  width: 90%;
  height: 100px;
}
#latexOutput {
  margin-top: 10px;
}
.convertedKorContainer {
  width: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
}
.speakButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.speakButton {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
